.promotionChild img {
    width: 100%;
    height: 95vh;
}
.promotionChild h2{
    font-size: 20px;
    padding: 16px 0;
    margin: 0;
}
.P-CSS{
    padding: 15px 0;
}
.promotion{
    margin: 0 80px;
    background-color: white;
}
.promotionChild{
    margin: 0 50px;
}
@media (min-width: 750px) and (max-width: 1190px){
    .promotionChild img{
        height: 55vh;
    }
}
@media only screen and (max-width: 790px){
    .promotion{
        margin: 0;
    }
    .promotionChild {
        margin: 0 10px;
    }
    .promotionChild img{
        height: 60vh
    }
}