li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.Homepage{
    width: 100%;
    height: 100%;
}
.header{
    display: block;
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 25%);
    opacity: 0.9;
    z-index: 999;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: gainsboro;
}
.header-top img{
    width: 200px;
    height: 100px;
}
.header-top-logo{
    position: relative;
}
.header-top-logo img {
    position: fixed;
    top: 0;
    left: 20px;
    border-radius: 10px;
}
.header-top--ul{
    display: flex;
    margin: 0;
}
.header-top--ul li{
    padding-right: 20px;
    list-style-type: none;
}
.header-top--ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    transition: all ease 0.5s; 
    line-height: 30px;     
}
.header-top--ul li:hover{
    opacity: 0.6;
}
.header-bot > ul{
    display: flex;
    justify-content: end;
    background-color: black;
    margin: 0;
}
.header-bot > ul > li{
    padding: 10px;
    text-transform: uppercase;
    position: relative;
}
.header-bot > ul > li:hover{
    background-color: rgb(120, 116, 116);
}
.header-bot ul a {
    text-decoration: none;
    font-weight: 700;
    color: white;
}
.header-bot-KM{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.header-bot-KM:hover{
    background-color: rgb(120, 116, 116);
}
.header-bot-level-2{
    top: 100%;
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    display: none;
    padding: 0;
}
.header-bot-level-2 > li{
    color: #ccc;
    padding: 10px 0;
    margin: 0;
    transition: all ease .3s;
    padding-left: 10px;
}
.level-1:hover .header-bot-level-2 {
    display: block;
}
.header-bot-level-2 > li:hover{
    background-color: rgb(146, 142, 142)
}
.slider img{
    width: 100%;
}
.login{
font-size: 12px;
margin-top: 6px;
cursor: pointer;
}