li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.Homepage{
    width: 100%;
    height: 100%;
}
.header{
    display: block;
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 25%);
    opacity: 0.9;
    z-index: 1;
    top:  0;
    left: 0;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: gainsboro;
}
.header-top img{
    width: 200px;
    height: 100px;
}
.header-top-logo{
    position: relative;
}
.header-top-logo img {
    position: fixed;
    top: 0;
    left: 20px;
    border-radius: 10px;
}
.header-top--ul{
    display: flex;
    margin: 0;
    margin: 12px 0;
}
.header-top--ul li{
    padding-right: 12px;
    list-style-type: none;
}
.header-top--ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    transition: all ease 0.5s; 
    line-height: 30px;     
}
.header-top--ul li:hover{
    opacity: 0.6;
}
.header-top--ul .css-avatart{
    border-radius: 999px;
    width: 30px ;
    height: 30px;
}
.showavatar {
    padding: 0 15px;
}
.exit{
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: white;
    padding: 15px 0;
    cursor: pointer;
}
.showavatar:hover .exit{
    display: block;
    z-index: 2 !important;
}

#show_menu{
    display: none;
}
.header-bot > ul{
    display: flex;
    justify-content: end;
    background-color: black;
    margin: 0;
}
.header-bot > ul > li{
    padding: 10px;
    text-transform: uppercase;
    position: relative;
}
.header-bot > ul > li:hover{
    background-color: rgb(120, 116, 116);
}
.header-bot ul a {
    text-decoration: none;
    font-weight: 700;
    color: white;
    padding: 10px 6px;
}
.header-bot-KM{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 7px;
}

.header-bot-KM:hover{
    background-color: rgb(120, 116, 116);
}
.header-bot-level-2{
    top: 100%;
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    display: none;
    padding: 0;
}
.header-bot-level-2 > li{
    color: #ccc;
    padding: 10px 0;
    margin: 0;
    transition: all ease .3s;
    padding-left: 10px;
}
.level-1:hover .header-bot-level-2 {
    display: block;
}
.header-bot-level-2 > li:hover{
    background-color: rgb(146, 142, 142)
}
.slider img{
    width: 100%;
}
.login{
font-size: 12px;
margin: 8px 12px;
cursor: pointer;
}
.cart{
    color: white;
}
.cart:hover{
    cursor: pointer;
}
@media (min-width: 750px) and (max-width: 1080px){
    .header-top-logo img{
        left: 1px !important;
        width: 24%;
      }
      .header-top--ul{
        padding: 4px 5px;
      }
      .header-top--ul li a{
        font-size: 14px;
      }
      .header-bot > ul > li{
        padding: 18px 10px !important;
      }
      .header-bot ul a{
        margin-bottom: 7px;
      }
      .header-bot > ul > li .search{
        display: none;
      }
      .login{
        border-radius: 999px;
        width: 35px;
        height: 32px;
      }
}
@media only screen and (max-width: 760px){
    .header{
        height: 60px; 
        overflow: hidden; 
        background-color: black; 
    }
    .header-top{
        justify-content: center;
        width: 100%;
    }
    .header-top--ul, .header-bot > ul{
       flex-direction: column;
       align-items: center !important;
       padding: 0;
    }
    .header-top--ul{
        align-items: center;
        margin-bottom: 15px;
    }
    .header-top-logo img{
        left: 0;
        height: 61px;
        width: 150px;
    }
    #show_menu{
        display: block;
        float: right;
        background-color: white;
    }
    .header-bot-KM{
        display: flex;
        justify-content: center;
        padding: 10px 0;
        width: 100%;
    }
    #show_menu {
        display: block;
        float: right;
        background-color: black;
        width: 60px;
        height: 60px;
        position: relative;
}
    .icon-menu{
        color: white;
        font-size: 26px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .header-bot > ul > li{
        padding: 10px 128px;
    }
    .header-top--ul li{
        padding: 0;
    }
}