.footer{
    background-color: black;
    padding: 10px 25px;
}
fieldset{
    display: flex;
}
.footer h1{
    text-transform: uppercase;
    color: white;
    padding: 0 20px;
    margin: 0px;
}
legend{
    color: white;
    margin: 10px;
    display: flex;
    text-align: center;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 20px;
}
.footer-top-left{
    margin: 0 20px;
}

.footer-top-right{
    margin-top: 10px;
}
.footer-ul {
    margin: 0 20px;
    
    text-transform: uppercase;
    font-weight: 700;   
    display: flex;
    
}
.footer-ul li {
    margin: 0 10px;
}
.footer-ul li a {
    color: white;
}
.footer-ul li:hover{
    opacity: 0.5;
}
.footer-bot{
    display: flex;
    justify-content: space-between;
}
.footer-bot-left{
    color: white;
    margin: 10px 44px;
    width: 45%;
}
.footer-bot-right{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}
.footer-bot-right .ul{
    display: flex;

}
.footer-bot-right ul li {
    background-color: gray;
    padding: 0 30px;
    font-size: 20px;
    line-height: 60px;
    margin-right: 30px;
}

