
.hot-product img {
    width: 100%;
    height: 390px;
}
.hot-product-item{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid gray;
    margin-bottom: 20px;
}
.hot-product-des{
    display: flex;
    box-shadow: inset 0 0 12px 0 rgb(0 0 0 / 75%);
    flex-direction: column;
    justify-content: center;
    width: 80%;
}
.hot-product-des p {
    margin: 0 20px;
}
